body{
  width: 100%;
  height: 100vh;
  margin: 0; 
  font-family:"Brush Script MT", cursive;  
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F4132065.jpg&f=1&nofb=1&ipt=525dc74b9f18186e4b0b732e88c891db3c618868e16732a28ddef6dd29b71894");
   background-size: 100%;
}

hl{
  text-align:center; 
  font-size:70px;
  margin:1em auto;
  padding: 50%;

}
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-family:"Brush Script MT", cursive; 
  font-size: 5rem;
  background-color: #ff6666;
  background-opacity:50%;
  border-color: white;
  min-width: 300px;
}


p{
  text-align:left;
  font-size:30px; 
  padding:0;
  margin:0;
}

input{
  margin:0;
  padding:0;
}
